.navbar {
  background-image: url("../assets/bg-homePage.svg");
  background-size: cover;
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

#item {
  cursor: pointer;
}

#nav-name,
.nav-item p {
  color: #5c59c3;
}

li {
  list-style: none;
}

.inner-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#nav-name {
  font-size: 2rem;
}

#nav-name,
#nav-skill,
#nav-project,
#nav-contact {
  transition: 0.5s ease;
  margin-right: 3rem;
  font-weight: 600;
}

#nav-skill:hover,
#nav-project:hover,
#nav-contact:hover {
  color: #2b2a52;
  font-weight: 600;
}

#nav-name:hover {
  color: #2b2a52;
  letter-spacing: 2px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #5c59c3;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger:active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger:active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger:active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    flex-direction: column;
    background-color: #e1dbf4;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 10px 0px;
  }

  .nav-menu.active {
    left: 0;
  }
}
